In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
DPATH = "../data/"

In [3]:
df_score = pd.read_csv(DPATH+"scores.csv")
df_score

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

Observations:
- Incomplete entries
- Control: 32 samples
- Condition: 30 samples

In [4]:
# Because there is no column that gives the basic prediction of whether a patient is depressed or not
df_score["depressed"] = df_score["number"].str.startswith("condition")
df_score["edu"].replace(" ", np.NaN, inplace=True)
df_score

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0,True
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0,True
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0,True
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0,True
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0,True
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0,True
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0,True
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0,True
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0,True
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0,True
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0,True
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0,True
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0,True
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0,True
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0,True
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0,True
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0,True
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0,True
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0,True
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0,True
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0,True
21,condition_22,14,1,65-69,2.0,2.0,1.0,NaN,2.0,2.0,29.0,28.0,True
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0,True
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
24,control_2,20,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
25,control_3,12,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
26,control_4,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
27,control_5,13,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
28,control_6,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
29,control_7,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
30,control_8,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
31,control_9,13,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
32,control_10,8,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
33,control_11,13,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
34,control_12,14,1,60-64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
36,control_14,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
37,control_15,11,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
38,control_16,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
39,control_17,9,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
40,control_18,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
41,control_19,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
42,control_20,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
43,control_21,8,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
44,control_22,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
45,control_23,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
46,control_24,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
47,control_25,13,1,65-69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
48,control_26,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
49,control_27,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
50,control_28,16,2,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
51,control_29,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
52,control_30,9,2,35-39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
53,control_31,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
54,control_32,14,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [5]:
df_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   number     55 non-null     object
 1   days       55 non-null     int64
 2   gender     55 non-null     int64
 3   age        55 non-null     object
 4   afftype    23 non-null     float64
 5   melanch    20 non-null     float64
 6   inpatient  23 non-null     float64
 7   edu        22 non-null     object
 8   marriage   23 non-null     float64
 9   work       23 non-null     float64
 10  madrs1     23 non-null     float64
 11  madrs2     23 non-null     float64
 12  depressed  55 non-null     bool
dtypes: bool(1), float64(7), int64(2), object(3)
memory usage: 5.3+ KB

In [6]:
# Converting columns to the right datatype
# Categorical columns
categorical_columns = ["gender", "age", "afftype", "melanch", "inpatient", "edu", "marriage", "work", "depressed"]
df_score[categorical_columns] = df_score[categorical_columns].astype("category")

# MADRS columns
madrs_cols = [i for i in df_score.columns if i.startswith("madrs")]
# The columns cannot be converted to int when there are NaNs
df_score[madrs_cols] = df_score[madrs_cols].fillna(0)
df_score[madrs_cols] = df_score[madrs_cols].astype("int")
display(df_score)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19,19,True
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24,11,True
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24,25,True
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20,16,True
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26,26,True
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18,15,True
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24,25,True
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20,16,True
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26,26,True
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28,21,True
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24,24,True
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25,21,True
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18,13,True
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28,19,True
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14,18,True
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13,17,True
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17,15,True
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18,15,True
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26,21,True
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27,25,True
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26,21,True
21,condition_22,14,1,65-69,2.0,2.0,1.0,NaN,2.0,2.0,29,28,True
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29,23,True
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
24,control_2,20,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
25,control_3,12,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
26,control_4,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
27,control_5,13,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
28,control_6,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
29,control_7,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
30,control_8,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
31,control_9,13,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
32,control_10,8,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
33,control_11,13,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
34,control_12,14,1,60-64,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
36,control_14,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
37,control_15,11,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
38,control_16,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
39,control_17,9,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
40,control_18,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
41,control_19,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
42,control_20,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
43,control_21,8,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
44,control_22,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
45,control_23,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
46,control_24,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
47,control_25,13,1,65-69,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
48,control_26,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
49,control_27,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
50,control_28,16,2,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
51,control_29,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
52,control_30,9,2,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
53,control_31,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False
54,control_32,14,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False

In [7]:
df_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   number     55 non-null     object
 1   days       55 non-null     int64
 2   gender     55 non-null     category
 3   age        55 non-null     category
 4   afftype    23 non-null     category
 5   melanch    20 non-null     category
 6   inpatient  23 non-null     category
 7   edu        22 non-null     category
 8   marriage   23 non-null     category
 9   work       23 non-null     category
 10  madrs1     55 non-null     int64
 11  madrs2     55 non-null     int64
 12  depressed  55 non-null     category
dtypes: category(9), int64(3), object(1)
memory usage: 3.7+ KB

In [8]:
df_score.describe()

            days     madrs1     madrs2
count  55.000000  55.000000  55.000000
mean   12.600000   9.509091   8.363636
std     2.491467  11.726628  10.403638
min     5.000000   0.000000   0.000000
25%    13.000000   0.000000   0.000000
50%    13.000000   0.000000   0.000000
75%    13.000000  22.000000  18.500000
max    20.000000  29.000000  28.000000

In [9]:
df_score["Change in madrs"] = df_score["madrs2"] - df_score["madrs1"]
df_score.head()

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26,26,True,0

In [10]:
df_score.describe()

            days     madrs1     madrs2  Change in madrs
count  55.000000  55.000000  55.000000        55.000000
mean   12.600000   9.509091   8.363636        -1.145455
std     2.491467  11.726628  10.403638         2.876586
min     5.000000   0.000000   0.000000       -13.000000
25%    13.000000   0.000000   0.000000        -1.500000
50%    13.000000   0.000000   0.000000         0.000000
75%    13.000000  22.000000  18.500000         0.000000
max    20.000000  29.000000  28.000000         4.000000

The mean of the change in MADRS scores (after - before) is negative, which is good. Because, greater the MADRS score, higher the level of depressions.

Separate the condition and control samples

In [11]:
df_score_cond = df_score[df_score["number"].str.startswith("condition")].copy()
df_score_cntlr = df_score[df_score["number"].str.startswith("control")].copy()

print("Condition dataframe; Top 5 rows")
display(df_score_cond.head())
print("Control dataframe; Top 5 rows")
display(df_score_cntlr.head())

Condition dataframe; Top 5 rows

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26,26,True,0

Control dataframe; Top 5 rows

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
24,control_2,20,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
25,control_3,12,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
26,control_4,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
27,control_5,13,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0

In [12]:
# Setting the values in control dataset first
df_score_cntlr[["afftype", "melanch", "inpatient", "edu", "marriage", "work"]] = 0
df_score_cntlr

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
23,control_1,8,2,25-29,0,0,0,0,0,0,0,0,False,0
24,control_2,20,1,30-34,0,0,0,0,0,0,0,0,False,0
25,control_3,12,2,30-34,0,0,0,0,0,0,0,0,False,0
26,control_4,13,1,25-29,0,0,0,0,0,0,0,0,False,0
27,control_5,13,1,30-34,0,0,0,0,0,0,0,0,False,0
28,control_6,13,1,25-29,0,0,0,0,0,0,0,0,False,0
29,control_7,13,1,20-24,0,0,0,0,0,0,0,0,False,0
30,control_8,13,2,40-44,0,0,0,0,0,0,0,0,False,0
31,control_9,13,2,30-34,0,0,0,0,0,0,0,0,False,0
32,control_10,8,1,30-34,0,0,0,0,0,0,0,0,False,0
33,control_11,13,1,45-49,0,0,0,0,0,0,0,0,False,0
34,control_12,14,1,60-64,0,0,0,0,0,0,0,0,False,0
35,control_13,13,1,50-54,0,0,0,0,0,0,0,0,False,0
36,control_14,13,1,50-54,0,0,0,0,0,0,0,0,False,0
37,control_15,11,1,45-49,0,0,0,0,0,0,0,0,False,0
38,control_16,13,2,40-44,0,0,0,0,0,0,0,0,False,0
39,control_17,9,1,45-49,0,0,0,0,0,0,0,0,False,0
40,control_18,13,2,20-24,0,0,0,0,0,0,0,0,False,0
41,control_19,13,1,50-54,0,0,0,0,0,0,0,0,False,0
42,control_20,13,1,35-39,0,0,0,0,0,0,0,0,False,0
43,control_21,8,1,50-54,0,0,0,0,0,0,0,0,False,0
44,control_22,13,1,25-29,0,0,0,0,0,0,0,0,False,0
45,control_23,13,1,20-24,0,0,0,0,0,0,0,0,False,0
46,control_24,13,2,20-24,0,0,0,0,0,0,0,0,False,0
47,control_25,13,1,65-69,0,0,0,0,0,0,0,0,False,0
48,control_26,13,1,35-39,0,0,0,0,0,0,0,0,False,0
49,control_27,13,2,50-54,0,0,0,0,0,0,0,0,False,0
50,control_28,16,2,45-49,0,0,0,0,0,0,0,0,False,0
51,control_29,13,2,50-54,0,0,0,0,0,0,0,0,False,0
52,control_30,9,2,35-39,0,0,0,0,0,0,0,0,False,0
53,control_31,13,1,20-24,0,0,0,0,0,0,0,0,False,0
54,control_32,14,2,25-29,0,0,0,0,0,0,0,0,False,0

In [13]:
df_score

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26,26,True,0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18,15,True,-3
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24,25,True,1
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20,16,True,-4
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26,26,True,0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28,21,True,-7
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24,24,True,0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25,21,True,-4
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18,13,True,-5
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28,19,True,-9
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14,18,True,4
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13,17,True,4
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17,15,True,-2
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18,15,True,-3
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26,21,True,-5
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27,25,True,-2
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26,21,True,-5
21,condition_22,14,1,65-69,2.0,2.0,1.0,NaN,2.0,2.0,29,28,True,-1
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29,23,True,-6
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
24,control_2,20,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
25,control_3,12,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
26,control_4,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
27,control_5,13,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
28,control_6,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
29,control_7,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
30,control_8,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
31,control_9,13,2,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
32,control_10,8,1,30-34,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
33,control_11,13,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
34,control_12,14,1,60-64,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
36,control_14,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
37,control_15,11,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
38,control_16,13,2,40-44,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
39,control_17,9,1,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
40,control_18,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
41,control_19,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
42,control_20,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
43,control_21,8,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
44,control_22,13,1,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
45,control_23,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
46,control_24,13,2,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
47,control_25,13,1,65-69,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
48,control_26,13,1,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
49,control_27,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
50,control_28,16,2,45-49,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
51,control_29,13,2,50-54,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
52,control_30,9,2,35-39,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
53,control_31,13,1,20-24,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0
54,control_32,14,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,0,0,False,0

Imputing the data for conditon dataframe

In [14]:
from sklearn.impute import KNNImputer

In [15]:
df_score_cond.columns

Index(['number', 'days', 'gender', 'age', 'afftype', 'melanch', 'inpatient',
       'edu', 'marriage', 'work', 'madrs1', 'madrs2', 'depressed',
       'Change in madrs'],
      dtype='object')

In [16]:
df_score_cond

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26,26,True,0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18,15,True,-3
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24,25,True,1
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20,16,True,-4
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26,26,True,0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28,21,True,-7
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24,24,True,0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25,21,True,-4
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18,13,True,-5
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28,19,True,-9
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14,18,True,4
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13,17,True,4
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17,15,True,-2
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18,15,True,-3
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26,21,True,-5
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27,25,True,-2
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26,21,True,-5
21,condition_22,14,1,65-69,2.0,2.0,1.0,NaN,2.0,2.0,29,28,True,-1
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29,23,True,-6

In [17]:
data = df_score_cond[["melanch"]]

imputer = KNNImputer(weights="distance")
df_score_cond["melanch"] = imputer.fit_transform(data).astype(int)
df_score_cond

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2,2.0,6-10,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2,2.0,6-10,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2,2.0,6-10,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2,2.0,11-15,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2,2.0,11-15,2.0,2.0,26,26,True,0
5,condition_6,7,1,35-39,2.0,2,2.0,6-10,1.0,2.0,18,15,True,-3
6,condition_7,11,1,20-24,1.0,1,2.0,11-15,2.0,1.0,24,25,True,1
7,condition_8,5,2,25-29,2.0,1,2.0,11-15,1.0,2.0,20,16,True,-4
8,condition_9,13,2,45-49,1.0,1,2.0,6-10,1.0,2.0,26,26,True,0
9,condition_10,9,2,45-49,2.0,2,2.0,6-10,1.0,2.0,28,21,True,-7
10,condition_11,14,1,45-49,2.0,2,2.0,6-10,1.0,2.0,24,24,True,0
11,condition_12,12,2,40-44,1.0,2,2.0,6-10,2.0,2.0,25,21,True,-4
12,condition_13,14,2,35-39,1.0,2,2.0,11-15,2.0,2.0,18,13,True,-5
13,condition_14,14,1,60-64,1.0,2,2.0,6-10,2.0,2.0,28,19,True,-9
14,condition_15,13,2,55-59,2.0,2,2.0,11-15,1.0,1.0,14,18,True,4
15,condition_16,16,1,45-49,2.0,2,2.0,11-15,1.0,2.0,13,17,True,4
16,condition_17,13,1,50-54,1.0,2,2.0,6-10,1.0,2.0,17,15,True,-2
17,condition_18,13,2,40-44,3.0,2,2.0,11-15,2.0,2.0,18,15,True,-3
18,condition_19,13,2,50-54,2.0,2,1.0,16-20,2.0,2.0,26,21,True,-5
19,condition_20,13,1,30-34,2.0,1,1.0,6-10,1.0,2.0,27,25,True,-2
20,condition_21,13,2,35-39,2.0,2,1.0,6-10,2.0,2.0,26,21,True,-5
21,condition_22,14,1,65-69,2.0,2,1.0,NaN,2.0,2.0,29,28,True,-1
22,condition_23,16,1,30-34,2.0,2,1.0,16-20,2.0,2.0,29,23,True,-6

In [18]:
df_score_cond["edu"] = pd.factorize(df_score_cond["edu"])[0]
df_score_cond["edu"].replace(3, np.NaN, inplace=True)
df_score_cond

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2,2.0,0,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2,2.0,0,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2,2.0,0,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2,2.0,1,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2,2.0,1,2.0,2.0,26,26,True,0
5,condition_6,7,1,35-39,2.0,2,2.0,0,1.0,2.0,18,15,True,-3
6,condition_7,11,1,20-24,1.0,1,2.0,1,2.0,1.0,24,25,True,1
7,condition_8,5,2,25-29,2.0,1,2.0,1,1.0,2.0,20,16,True,-4
8,condition_9,13,2,45-49,1.0,1,2.0,0,1.0,2.0,26,26,True,0
9,condition_10,9,2,45-49,2.0,2,2.0,0,1.0,2.0,28,21,True,-7
10,condition_11,14,1,45-49,2.0,2,2.0,0,1.0,2.0,24,24,True,0
11,condition_12,12,2,40-44,1.0,2,2.0,0,2.0,2.0,25,21,True,-4
12,condition_13,14,2,35-39,1.0,2,2.0,1,2.0,2.0,18,13,True,-5
13,condition_14,14,1,60-64,1.0,2,2.0,0,2.0,2.0,28,19,True,-9
14,condition_15,13,2,55-59,2.0,2,2.0,1,1.0,1.0,14,18,True,4
15,condition_16,16,1,45-49,2.0,2,2.0,1,1.0,2.0,13,17,True,4
16,condition_17,13,1,50-54,1.0,2,2.0,0,1.0,2.0,17,15,True,-2
17,condition_18,13,2,40-44,3.0,2,2.0,1,2.0,2.0,18,15,True,-3
18,condition_19,13,2,50-54,2.0,2,1.0,2,2.0,2.0,26,21,True,-5
19,condition_20,13,1,30-34,2.0,1,1.0,0,1.0,2.0,27,25,True,-2
20,condition_21,13,2,35-39,2.0,2,1.0,0,2.0,2.0,26,21,True,-5
21,condition_22,14,1,65-69,2.0,2,1.0,-1,2.0,2.0,29,28,True,-1
22,condition_23,16,1,30-34,2.0,2,1.0,2,2.0,2.0,29,23,True,-6

In [19]:
df_score_cond

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2.0,2,2.0,0,1.0,2.0,19,19,True,0
1,condition_2,18,2,40-44,1.0,2,2.0,0,2.0,2.0,24,11,True,-13
2,condition_3,13,1,45-49,2.0,2,2.0,0,2.0,2.0,24,25,True,1
3,condition_4,13,2,25-29,2.0,2,2.0,1,1.0,1.0,20,16,True,-4
4,condition_5,13,2,50-54,2.0,2,2.0,1,2.0,2.0,26,26,True,0
5,condition_6,7,1,35-39,2.0,2,2.0,0,1.0,2.0,18,15,True,-3
6,condition_7,11,1,20-24,1.0,1,2.0,1,2.0,1.0,24,25,True,1
7,condition_8,5,2,25-29,2.0,1,2.0,1,1.0,2.0,20,16,True,-4
8,condition_9,13,2,45-49,1.0,1,2.0,0,1.0,2.0,26,26,True,0
9,condition_10,9,2,45-49,2.0,2,2.0,0,1.0,2.0,28,21,True,-7
10,condition_11,14,1,45-49,2.0,2,2.0,0,1.0,2.0,24,24,True,0
11,condition_12,12,2,40-44,1.0,2,2.0,0,2.0,2.0,25,21,True,-4
12,condition_13,14,2,35-39,1.0,2,2.0,1,2.0,2.0,18,13,True,-5
13,condition_14,14,1,60-64,1.0,2,2.0,0,2.0,2.0,28,19,True,-9
14,condition_15,13,2,55-59,2.0,2,2.0,1,1.0,1.0,14,18,True,4
15,condition_16,16,1,45-49,2.0,2,2.0,1,1.0,2.0,13,17,True,4
16,condition_17,13,1,50-54,1.0,2,2.0,0,1.0,2.0,17,15,True,-2
17,condition_18,13,2,40-44,3.0,2,2.0,1,2.0,2.0,18,15,True,-3
18,condition_19,13,2,50-54,2.0,2,1.0,2,2.0,2.0,26,21,True,-5
19,condition_20,13,1,30-34,2.0,1,1.0,0,1.0,2.0,27,25,True,-2
20,condition_21,13,2,35-39,2.0,2,1.0,0,2.0,2.0,26,21,True,-5
21,condition_22,14,1,65-69,2.0,2,1.0,-1,2.0,2.0,29,28,True,-1
22,condition_23,16,1,30-34,2.0,2,1.0,2,2.0,2.0,29,23,True,-6

In [20]:
df_score_cond["afftype"] = df_score_cond["afftype"].astype(int)
df_score_cond["inpatient"] = df_score_cond["inpatient"].astype(int)
df_score_cond["work"] = df_score_cond["work"].astype(int)
df_score_cond["marriage"] = df_score_cond["marriage"].astype(int)
df_score_cond

/Users/sowmyamanojna/Library/Python/3.9/lib/python/site-packages/pandas/core/arrays/categorical.py:528: RuntimeWarning: invalid value encountered in cast
  fill_value = lib.item_from_zerodim(np.array(np.nan).astype(dtype))

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
0,condition_1,11,2,35-39,2,2,2,0,1,2,19,19,True,0
1,condition_2,18,2,40-44,1,2,2,0,2,2,24,11,True,-13
2,condition_3,13,1,45-49,2,2,2,0,2,2,24,25,True,1
3,condition_4,13,2,25-29,2,2,2,1,1,1,20,16,True,-4
4,condition_5,13,2,50-54,2,2,2,1,2,2,26,26,True,0
5,condition_6,7,1,35-39,2,2,2,0,1,2,18,15,True,-3
6,condition_7,11,1,20-24,1,1,2,1,2,1,24,25,True,1
7,condition_8,5,2,25-29,2,1,2,1,1,2,20,16,True,-4
8,condition_9,13,2,45-49,1,1,2,0,1,2,26,26,True,0
9,condition_10,9,2,45-49,2,2,2,0,1,2,28,21,True,-7
10,condition_11,14,1,45-49,2,2,2,0,1,2,24,24,True,0
11,condition_12,12,2,40-44,1,2,2,0,2,2,25,21,True,-4
12,condition_13,14,2,35-39,1,2,2,1,2,2,18,13,True,-5
13,condition_14,14,1,60-64,1,2,2,0,2,2,28,19,True,-9
14,condition_15,13,2,55-59,2,2,2,1,1,1,14,18,True,4
15,condition_16,16,1,45-49,2,2,2,1,1,2,13,17,True,4
16,condition_17,13,1,50-54,1,2,2,0,1,2,17,15,True,-2
17,condition_18,13,2,40-44,3,2,2,1,2,2,18,15,True,-3
18,condition_19,13,2,50-54,2,2,1,2,2,2,26,21,True,-5
19,condition_20,13,1,30-34,2,1,1,0,1,2,27,25,True,-2
20,condition_21,13,2,35-39,2,2,1,0,2,2,26,21,True,-5
21,condition_22,14,1,65-69,2,2,1,-1,2,2,29,28,True,-1
22,condition_23,16,1,30-34,2,2,1,2,2,2,29,23,True,-6

In [21]:
df_score_cond.to_csv(DPATH+"clean_cond_score.csv")

In [22]:
df_score_cntlr

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,depressed,Change in madrs
23,control_1,8,2,25-29,0,0,0,0,0,0,0,0,False,0
24,control_2,20,1,30-34,0,0,0,0,0,0,0,0,False,0
25,control_3,12,2,30-34,0,0,0,0,0,0,0,0,False,0
26,control_4,13,1,25-29,0,0,0,0,0,0,0,0,False,0
27,control_5,13,1,30-34,0,0,0,0,0,0,0,0,False,0
28,control_6,13,1,25-29,0,0,0,0,0,0,0,0,False,0
29,control_7,13,1,20-24,0,0,0,0,0,0,0,0,False,0
30,control_8,13,2,40-44,0,0,0,0,0,0,0,0,False,0
31,control_9,13,2,30-34,0,0,0,0,0,0,0,0,False,0
32,control_10,8,1,30-34,0,0,0,0,0,0,0,0,False,0
33,control_11,13,1,45-49,0,0,0,0,0,0,0,0,False,0
34,control_12,14,1,60-64,0,0,0,0,0,0,0,0,False,0
35,control_13,13,1,50-54,0,0,0,0,0,0,0,0,False,0
36,control_14,13,1,50-54,0,0,0,0,0,0,0,0,False,0
37,control_15,11,1,45-49,0,0,0,0,0,0,0,0,False,0
38,control_16,13,2,40-44,0,0,0,0,0,0,0,0,False,0
39,control_17,9,1,45-49,0,0,0,0,0,0,0,0,False,0
40,control_18,13,2,20-24,0,0,0,0,0,0,0,0,False,0
41,control_19,13,1,50-54,0,0,0,0,0,0,0,0,False,0
42,control_20,13,1,35-39,0,0,0,0,0,0,0,0,False,0
43,control_21,8,1,50-54,0,0,0,0,0,0,0,0,False,0
44,control_22,13,1,25-29,0,0,0,0,0,0,0,0,False,0
45,control_23,13,1,20-24,0,0,0,0,0,0,0,0,False,0
46,control_24,13,2,20-24,0,0,0,0,0,0,0,0,False,0
47,control_25,13,1,65-69,0,0,0,0,0,0,0,0,False,0
48,control_26,13,1,35-39,0,0,0,0,0,0,0,0,False,0
49,control_27,13,2,50-54,0,0,0,0,0,0,0,0,False,0
50,control_28,16,2,45-49,0,0,0,0,0,0,0,0,False,0
51,control_29,13,2,50-54,0,0,0,0,0,0,0,0,False,0
52,control_30,9,2,35-39,0,0,0,0,0,0,0,0,False,0
53,control_31,13,1,20-24,0,0,0,0,0,0,0,0,False,0
54,control_32,14,2,25-29,0,0,0,0,0,0,0,0,False,0

In [23]:
df_score_cond.to_csv(DPATH+"clean_cntlr_score.csv")

To do (?):
- [ ] pair plots
- [ ] correlation analysis
- [ ] Multi-colinearity of data points